body {
<<<<<<< HEAD
    background:url(../img/qbkls.png);
    font-family: retro;
}

#pageTitle{
    text-align:center;
    font-size:2.0em;
    border: 5px solid black;
    background-color: goldenrod;
}

@font-face {
    font-family: retro;
    src: url(../img/dpcomic.ttf);
}

h2{
    text-align:center;
    font-size:1.8em;
    /*width:50px; */
    float:left; 
    /*padding-top:20px; */
    padding-left:100px;
    
    
=======
    background: linear-gradient(#000000BA, #000000CA), url('../img/bg.jpg') no-repeat center ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: rgba(255,255,255,0.85);
    font-family: 'Montserrat', sans-serif;
    width: 85%;
    min-height: 100vh;
    margin: auto;
    margin-bottom: 4em;
}

h1 {
    color: white;
    font-size: 2.8em;
    text-align: center;
}

.row {
    height: 125px;
    white-space: nowrap;
}

.player-container, .hand, .total {
    display: inline-block;
}

.hand img {
    margin: 0 4px;
}

.total {
    position: relative;
    font-size: 1.5em;
    text-align: center;
    vertical-align: middle;
    top: -45px;
    margin-left: 12px;
}

.player-container {
    max-width: 8vw;
    vertical-align: top;
    margin-right: 8px;
}

.player-img {
    width: 100%;
    height: auto;
}

.player-title {
    text-align: center;
    margin: 0.5em auto;
}

.winner-container {
    color: rgba(255,255,255,0.95);
    font-size: 1.25em;
    text-align: center;
    margin-bottom: 2em;
}

.data-container {
    /*text-align: center;*/
    line-height: 10px;
    margin: 0.25em auto;
>>>>>>> 2c12f20766d58d215fc81b57d7a48b80f997d232
}